/* ========================================================================== */
/* Reset */
/* ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --standard-padding: 16px; 
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ========================================================================== */
/* Main Styling */
/* ========================================================================== */

body {
  background: #aee8ee;
  background: linear-gradient(91deg, rgba(174, 232, 238, 1) 0%, rgba(165, 217, 236, 1) 50%, rgba(148, 187, 233, 1) 100%);
}

main {
  width: min(1150px, 100%);
  margin: auto;
  padding: var(--standard-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 15px;
  background-color: rgba(256, 256, 256, 0.5);
  box-shadow: 0px 2px 11px -3px darkgray;
}

#controls {
  width: 40%;
  padding: var(--standard-padding);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding);
  margin: 16px 0;
}

#search-row {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 4px;
}

form [type="submit"] {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: white;
}

#location {
  height: 2rem;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

form .error-msg {
  min-height: 2.5rem;
  /* white-space: pre; */
  color: red;
}

form .loading-container {
  position: absolute;
  top: 18%;
}

.temp-btn {
  min-width: 60px;
  border: 1px solid lightgray;
  height: 2rem;
  border-radius: 8px;
}

#content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--standard-padding);
}

.weather-card {
  padding: var(--standard-padding);
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.weather-card .date {
  font-weight: bold;
}

.weather-card .middle {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

.weather-card .stat-header {
  color: gray;
}

.weather-card .icon-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.weather-card .stats {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}